# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Pycharm files
.idea/

# Vagrant files
deployment/.vagrant/
deployment/Vagrantfile

# Database files
*.sqlite3
*.db

# User uploaded files
mws/media/*

# secrets
mws/mws/secrets.py

# virtualenv files
mws/venv/*

# django static dependencies
mws/static_dep/*
